.grid-img {
            width: 100%;
            aspect-ratio: 1 / 1; /* Cuadrado perfecto */
            object-fit: cover;   /* No deforma la imagen */
            display: block;
        }

        
        .feed-container {
            max-width: 600px;
            margin: 0 auto;
        }

        
        .nav-tabs .nav-link {
            border: none;
            color: gray;
        }
        .nav-tabs .nav-link.active {
            color: #0d6efd;
            background: none;
        }